a.questkit-link
{
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
}
a.questkit-link.disabled
{
    text-decoration: inherit;
    color: inherit !important;
    cursor: inherit;
}
a.questkit-header-link
{
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
}
div#questkit-container
{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
}
div#questkit-header
{
    font-size: 14px;
    text-align: right;
}
div#questkit-output
{
    font-size: 18px;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 16px; margin-bottom: 16px;
}