<div class="row">
    <div class="col-md-6">
        <div id="editor-{{include.file}}">{% include_relative samples/{{include.file}}.yaml %}</div>
        <p style="text-align: right; font-size: 80%"><a href="{{site.baseurl}}/scratchpad/?src={{site.baseurl}}/samples/{{include.file}}.yaml">Edit example in ScratchPad &rarr;</a></p>
    </div>
    <div class="col-md-6">
        <div id="{{include.file}}-output"></div>
        <div class="form-group">
          <input id="{{include.file}}-input" class="form-control" placeholder="Type here..." />
        </div>
    </div>
</div>

<script src="samples/story.js"></script>
<script>
    $(function(){
        $("#{{include.file}}-output").questkit({
            input: "#{{include.file}}-input",
            scroll: "element"
        });

        var editor = ace.edit("editor-{{include.file}}");
        editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/yaml");
        editor.getSession().setUseWrapMode(true);
        editor.setReadOnly(true);
        editor.setHighlightActiveLine(false);
        editor.setOptions({
            maxLines: Infinity
        });
        editor.resize(true);
        var maxHeight = $("#editor-{{include.file}}").height() -
            $("#{{include.file}}-input").height();
        $("#{{include.file}}-output").css("max-height", maxHeight + "px");
    });
</script>